@{
	ViewData["Title"] = "Register";
    ViewData["NavLink"] = "Login";
	ViewData["NavText"] = "Sign In";
    Layout = "/Views/Shared/_MinLayout.cshtml";
}

<section class="text-center">
    <div class="container ps-5 pe-5">
        <p class="text-muted">Register an Account</p>
    </div>
</section>
<section class="text-center">
    <div class="container ps-4 pe-4">
        <form>
            <div class="mb-3">
                <label class="form-label text-center" for="fname">First Name</label>
                <input class="form-control" type="text" id="fname"/>
            </div>
            <div class="mb-3">
                <label class="form-label text-center" for="sname">Surname</label>
                <input class="form-control" type="text" id="sname"/>
            </div>
            <div class="mb-3">
                <label class="form-label text-center" for="email">Email</label>
                <input class="form-control" type="text" id="email"/>
            </div>
            <div class="mb-3">
                <label class="form-label text-center" for="address">Address</label>
                <input class="form-control" type="text" id="address"/>
            </div>
            <div class="mb-3">
                <label class="form-label text-center" for="tcity">Town/City</label>
                <input class="form-control" type="text" id="tcity"/>
            </div>
            <div class="mb-3">
                <label class="form-label text-center" for="county">County</label>
                <input class="form-control" type="text" id="county "/>
            </div>
            <div class="mb-3">
                <label class="form-label text-center" for="eircode">Eircode</label>
                <input class="form-control" type="text" id="eircode" />
            </div>
            <div class="mb-3">
                <button asp-controller="Home"
                        asp-action="Login"
                        class="btn btn-primary w-50" type="submit">
                    Register
                </button>
            </div>
        </form>
    </div>
</section>