<!--ToS was generated using Termly-->


@{
    ViewData["Title"] = "Terms of Service";
}

    <div class="container ps-5 pe-5">
        <h3>Terms of Service</h3>
    </div>
<section class="text-center">
    <div class="container ps-4 pe-4">
        <div align="center">
            <div align="center">
                <div align="center">
                    <div align="center">
                        <div align="center">
                            <div align="center"><strong>END USER LICENCE AGREEMENT</strong></div>
                        </div>
                    </div>
                    <div align="center"><br></div>
                    <div align="center"><strong>Last updated&nbsp;</strong><strong>November 01, 2022</strong></div>
                    <div align="center"><br></div>
                    <div align="center"><br></div>
                </div>
            </div>
            <div align="center"><br></div>
            <div align="center">
                <div>Bank App is licensed to You (End-User) by DDKC, located and registered at MTU Kerry Dromthacker,&nbsp;Tralee, Kerry V92 HD4V, Ireland&nbsp;(&apos;<strong>Licensor</strong>&apos;), for use only under the terms of this Licence Agreement.&nbsp;Our VAT number is IE1234567.</div>
            </div>
            <div align="center"><br></div>
            <div align="center">
                <div>By downloading the Licensed Application from Apple&apos;s software distribution platform (&apos;App Store&apos;) and Google&apos;s software distribution platform (&apos;Play Store&apos;), and any update thereto (as permitted by this Licence Agreement), You indicate that You agree to be bound by all of the terms and conditions of this Licence Agreement, and that You accept this Licence Agreement. App Store and Play Store are referred to in this Licence Agreement as &apos;<strong>Services</strong>&apos;.</div>
            </div>
            <div align="center"><br></div>
            <div align="center">
                <div>The parties of this Licence Agreement acknowledge that the Services are not a Party to this Licence Agreement and are not bound by any provisions or obligations with regard to the Licensed Application, such as warranty, liability, maintenance and support thereof. DDKC, not the Services, is solely responsible for the Licensed Application and the content thereof.</div>
            </div>
            <div align="center"><br></div>
            <div align="center">
                <div>This Licence Agreement may not provide for usage rules for the Licensed Application that are in conflict with the latest&nbsp;<a href="https://www.apple.com/legal/internet-services/itunes/us/terms.html" rel="noopener noreferrer" target="_blank">Apple Media Services Terms and Conditions</a> and&nbsp;<a href="https://play.google.com/intl/en_US/about/play-terms/" rel="noopener noreferrer" target="_blank">Google Play Terms of Service</a> (&apos;<strong>Usage Rules</strong>&apos;). DDKC acknowledges that it had the opportunity to review the Usage Rules and this Licence Agreement is not conflicting with them.</div>
                <div><br></div>
                <div>Bank App when purchased or downloaded through the Services, is licensed to You for use only under the terms of this Licence Agreement. The Licensor reserves all rights not expressly granted to You. Bank App is to be used on devices that operate with Apple&apos;s operating systems (&apos;iOS&apos; and &apos;Mac OS&apos;) or Google&apos;s operating system (&apos;Android&apos;).</div>
                <div><br></div>
                <div><br></div>
                <div><strong>TABLE OF CONTENTS</strong></div>
                <div><br></div>
                <div><a href="https://localhost:7098/termsofservice#application">1. THE APPLICATION</a></div>
                <div><a href="https://localhost:7098/termsofservice#scope">2. SCOPE OF LICENCE</a></div>
                <div><a href="https://localhost:7098/termsofservice#requirements">3. TECHNICAL REQUIREMENTS</a></div>
                <div><a href="https://localhost:7098/termsofservice#support">4. MAINTENANCE AND SUPPORT</a></div>
                <div><a href="https://localhost:7098/termsofservice#ugc">5. USER-GENERATED CONTRIBUTIONS</a></div>
                <div><a href="https://localhost:7098/termsofservice#contribution">6. CONTRIBUTION LICENCE</a></div>
                <div><a href="https://localhost:7098/termsofservice#liability">7. LIABILITY</a></div>
                <div><a href="https://localhost:7098/termsofservice#warranty">8. WARRANTY</a></div>
                <div><a href="https://localhost:7098/termsofservice#productclaims">9. PRODUCT CLAIMS</a></div>
                <div><a href="https://localhost:7098/termsofservice#compliance">10. LEGAL COMPLIANCE</a></div>
                <div><a href="https://localhost:7098/termsofservice#contact">11. CONTACT INFORMATION</a></div>
                <div><a href="https://localhost:7098/termsofservice#termination">12. TERMINATION</a></div>
                <div><a href="https://localhost:7098/termsofservice#thirdparty">13. THIRD-PARTY TERMS OF AGREEMENTS AND BENEFICIARY</a></div>
                <div><a href="https://localhost:7098/termsofservice#ipr">14. INTELLECTUAL PROPERTY RIGHTS</a></div>
                <div><a href="https://localhost:7098/termsofservice#law">15. APPLICABLE LAW</a></div>
                <div><a href="https://localhost:7098/termsofservice#misc">16. MISCELLANEOUS</a></div>
                <div><br></div>
                <div><br></div>
            </div>
            <div align="center">
                <div id="application"><strong>1.</strong><strong>&nbsp;THE APPLICATION</strong></div>
            </div>
            <div align="center"><br></div>
            <div align="center">
                <div>Bank App (&apos;<strong>Licensed Application</strong>&apos;) is a piece of software created to Facilitate online banking &mdash; and customised for iOS and Android mobile devices (&apos;<strong>D</strong><strong>evices</strong>&apos;). It is used to View Banking Transactions online. Make Bank Deposits online. Make Bank Transfers online between accounts..</div>
                <div><br></div>
                <div><br></div>
                <div id="scope"><strong>2. SCOPE OF LICENCE</strong></div>
                <div>&nbsp;</div>
            </div>
            <div align="center"><br></div>
            <div align="center">
                <div>2.1 &nbsp;You are given a non-transferable, non-exclusive, non-sublicensable licence to install and use the Licensed Application on any Devices that You (End-User) own or control and as permitted by the Usage Rules, with the exception that such Licensed Application may be accessed and used by other accounts associated with You (End-User, The Purchaser) via Family Sharing or volume purchasing.</div>
                <div><br></div>
                <div>2.2 &nbsp;This licence will also govern any updates of the Licensed Application provided by Licensor that replace, repair, and/or supplement the first Licensed Application, unless a separate licence is provided for such update, in which case the terms of that new licence will govern.</div>
                <div><br></div>
                <div>2.3 &nbsp;You may not share or make the Licensed Application available to third parties (unless to the degree allowed by the Usage Rules, and with DDKC&apos;s prior written consent), sell, rent, lend, lease or otherwise redistribute the Licensed Application.</div>
                <div><br></div>
                <div>2.4 &nbsp;You may not reverse engineer, translate, disassemble, integrate, decompile, remove, modify, combine, create derivative works or updates of, adapt, or attempt to derive the source code of the Licensed Application, or any part thereof (except with DDKC&apos;s prior written consent).</div>
                <div><br></div>
                <div>2.5 &nbsp;You may not copy (excluding when expressly authorised by this licence and the Usage Rules) or alter the Licensed Application or portions thereof. You may create and store copies only on devices that You own or control for backup keeping under the terms of this licence, the Usage Rules, and any other terms and conditions that apply to the device or software used. You may not remove any intellectual property notices. You acknowledge that no unauthorised third parties may gain access to these copies at any time. If you sell your Devices to a third party, you must remove the Licensed Application from the Devices before doing so.</div>
                <div><br></div>
                <div>2.6 &nbsp;Violations of the obligations mentioned above, as well as the attempt of such infringement, may be subject to prosecution and damages.</div>
                <div><br></div>
                <div>2.7 &nbsp;Licensor reserves the right to modify the terms and conditions of licensing.</div>
                <div><br></div>
                <div>2.8 &nbsp;Nothing in this licence should be interpreted to restrict third-party terms. When using the Licensed Application, You must ensure that You comply with applicable third-party terms and conditions.</div>
            </div>
            <div align="center"><br></div>
            <div align="center">
                <div><br></div>
                <div id="requirements"><strong>3. TECHNICAL REQUIREMENTS</strong></div>
                <div><br></div>
                <div>3.1 &nbsp;Licensor attempts to keep the Licensed Application updated so that it complies with modified/new versions of the firmware and new hardware. You are not granted rights to claim such an update.</div>
                <div><br></div>
                <div><br></div>
                <div id="support"><strong>4. MAINTENANCE AND SUPPORT</strong></div>
                <div><br></div>
                <div>4.1 &nbsp;The Licensor is solely responsible for providing any maintenance and support services for this Licensed Application. You can reach the Licensor at the email address listed in the App Store or Play Store Overview for this Licensed Application.</div>
                <div><br></div>
                <div>4.2&nbsp;&nbsp;DDKC&nbsp;and the End-User acknowledge that the Services have no obligation whatsoever to furnish any maintenance and support services with respect to the Licensed Application.</div>
                <div><br></div>
                <div><br></div>
                <div id="ugc"><strong>5. USER-GENERATED CONTRIBUTIONS</strong></div>
                <div><br></div>
                <div>The Licensed Application does not offer users to submit or post content. We may provide you with the opportunity to create, submit, post, display, transmit, perform, publish, distribute, or broadcast content and materials to us or in the Licensed Application, including but not limited to text, writings, video, audio, photographs, graphics, comments, suggestions, or personal information or other material (collectively, &apos;Contributions&apos;). Contributions may be viewable by other users of the Licensed Application and through third-party websites or applications. As such, any Contributions you transmit may be treated in accordance with the Licensed Application Privacy Policy. When you create or make available any Contributions, you thereby represent and warrant that:</div>
                <div><br></div>
                <div>1. The creation, distribution, transmission, public display, or performance, and the accessing, downloading, or copying of your Contributions do not and will not infringe the proprietary rights, including but not limited to the copyright, patent, trademark, trade secret, or moral rights of any third party.</div>
                <div>2. You are the creator and owner of or have the necessary licences, rights, consents, releases, and permissions to use and to authorise us, the Licensed Application, and other users of the Licensed Application to use your Contributions in any manner contemplated by the Licensed Application and this Licence Agreement.</div>
                <div>3. You have the written consent, release, and/or permission of each and every identifiable individual person in your Contributions to use the name or likeness or each and every such identifiable individual person to enable inclusion and use of your Contributions in any manner contemplated by the Licensed Application and this Licence Agreement.</div>
                <div>4. Your Contributions are not false, inaccurate, or misleading.</div>
                <div>5. Your Contributions are not unsolicited or unauthorised advertising, promotional materials, pyramid schemes, chain letters, spam, mass mailings, or other forms of solicitation.</div>
                <div>6. Your Contributions are not obscene, lewd, lascivious, filthy, violent, harassing, libellous, slanderous, or otherwise objectionable (as determined by us).</div>
                <div>7. Your Contributions do not ridicule, mock, disparage, intimidate, or abuse anyone.</div>
                <div>8. Your Contributions are not used to harass or threaten (in the legal sense of those terms) any other person and to promote violence against a specific person or class of people.</div>
                <div>9. Your Contributions do not violate any applicable law, regulation, or rule.</div>
                <div>10. Your Contributions do not violate the privacy or publicity rights of any third party.</div>
                <div>11. Your Contributions do not violate any applicable law concerning child pornography, or otherwise intended to protect the health or well-being of minors.</div>
                <div>12. Your Contributions do not include any offensive comments that are connected to race, national origin, gender, sexual preference, or physical handicap.</div>
                <div>13. Your Contributions do not otherwise violate, or link to material that violates, any provision of this Licence Agreement, or any applicable law or regulation.</div>
                <div><br></div>
                <div>Any use of the Licensed Application in violation of the foregoing violates this Licence Agreement and may result in, among other things, termination or suspension of your rights to use the Licensed Application.</div>
                <div><br></div>
                <div><br></div>
                <div id="contribution"><strong>6. CONTRIBUTION LICENCE</strong></div>
                <div><br></div>
                <div>You agree that we may access, store, process, and use any information and personal data that you provide following the terms of the Privacy Policy and your choices (including settings).</div>
                <div><br></div>
                <div>By submitting suggestions of other feedback regarding the Licensed Application, you agree that we can use and share such feedback for any purpose without compensation to you.</div>
                <div><br></div>
                <div>We do not assert any ownership over your Contributions. You retain full ownership of all of your Contributions and any intellectual property rights or other proprietary rights associated with your Contributions. We are not liable for any statements or representations in your Contributions provided by you in any area in the Licensed Application. You are solely responsible for your Contributions to the Licensed Application and you expressly agree to exonerate us from any and all responsibility and to refrain from any legal action against us regarding your Contributions.</div>
                <div><br></div>
                <div><br></div>
                <div id="liability"><strong>7. LIABILITY</strong></div>
                <div><br></div>
                <div>7.1 &nbsp;Licensor&apos;s responsibility in the case of violation of obligations and tort shall be limited to intent and gross negligence. Only in case of a breach of essential contractual duties (cardinal obligations), Licensor shall also be liable in case of slight negligence. In any case, liability shall be limited to the foreseeable, contractually typical damages. The limitation mentioned above does not apply to injuries to life, limb, or health.</div>
                <div><br></div>
                <div><br></div>
                <div id="warranty"><strong>8. WARRANTY</strong></div>
            </div>
        </div>
        <div><br></div>
        <div>8.1 &nbsp;Licensor warrants that the Licensed Application is free of spyware, trojan horses, viruses, or any other malware at the time of Your download. Licensor warrants that the Licensed Application works as described in the user documentation.</div>
        <div><br></div>
        <div>8.2 &nbsp;No warranty is provided for the Licensed Application that is not executable on the device, that has been unauthorisedly modified, handled inappropriately or culpably, combined or installed with inappropriate hardware or software, used with inappropriate accessories, regardless if by Yourself or by third parties, or if there are any other reasons outside of DDKC&apos;s sphere of influence that affect the executability of the Licensed Application.</div>
        <div><br></div>
        <div>8.3 &nbsp;You are required to inspect the Licensed Application immediately after installing it and notify DDKC about issues discovered without delay by email provided in&nbsp;<a href="https://localhost:7098/termsofservice#contact">Contact Information</a>. The defect report will be taken into consideration and further investigated if it has been emailed within a period of five (5) days after discovery.</div>
        <div><br></div>
        <div>8.4 &nbsp;If we confirm that the Licensed Application is defective, DDKC reserves a choice to remedy the situation either by means of solving the defect or substitute delivery.</div>
        <div><br></div>
        <div>
            <div>8.5&nbsp;&nbsp;In the event of any failure of the Licensed Application to conform to any applicable warranty, You may notify the Services Store Operator, and Your Licensed Application purchase price will be refunded to You. To the maximum extent permitted by applicable law, the Services Store Operator will have no other warranty obligation whatsoever with respect to the Licensed Application, and any other losses, claims, damages, liabilities, expenses, and costs attributable to any negligence to adhere to any warranty.</div>
        </div>
        <div><br></div>
        <div>
            <div>8.6 &nbsp;If the user is an entrepreneur, any claim based on faults expires after a statutory period of limitation amounting to twelve (12) months after the Licensed Application was made available to the user. The statutory periods of limitation given by law apply for users who are consumers.</div>
        </div>
        <div>&nbsp; &nbsp;</div>
        <div><br></div>
        <div>
            <div id="productclaims"><span id="productclaims"><strong>9. PRODUCT CLAIMS</strong></div>
        </div>
        <div><br></div>
        <div>
            <div>DDKC&nbsp;and the End-User acknowledge that DDKC, and not the Services, is responsible for addressing any claims of the End-User or any third party relating to the Licensed Application or the End-User&rsquo;s possession and/or use of that Licensed Application, including, but not limited to:</div>
        </div>
        <div><br></div>
        <div>
            <div>(i) product liability claims;</div>&nbsp; &nbsp;
        </div>
        <div>
            <div>(ii) any claim that the Licensed Application fails to conform to any applicable legal or regulatory requirement; and</div>
        </div>
        <div><br></div>
        <div>
            <div>(iii) claims arising under consumer protection, privacy, or similar legislation, including in connection with Your Licensed Application&rsquo;s use of the HealthKit and HomeKit.</div>
        </div>
        <div><br></div>
        <div><br></div>
        <div>
            <div id="compliance"><strong>10. LEGAL COMPLIANCE</strong></div>
        </div>
        <div><br></div>
        <div>
            <div>You represent and warrant that You are not located in a country that is subject to a US Government embargo, or that has been designated by the US Government as a &apos;terrorist supporting&apos; country; and that You are not listed on any US Government list of prohibited or restricted parties.</div>
        </div>
        <div><br></div>
        <div><br></div>
        <div>
            <div id="contact"><strong>11. CONTACT INFORMATION</strong></div>
        </div>
        <div><br></div>
        <div>
            <div>For general inquiries, complaints, questions or claims concerning the Licensed Application, please contact:</div>&nbsp; &nbsp; &nbsp; &nbsp;<div>Developer</div>
            <div>MTU Kerry Dromthacker</div>
            <div>Tralee, Kerry V92 HD4V</div>
            <div>Ireland</div>
            <div>bankapp@mtu.ie</div>
        </div>
        <div><br></div>
        <div><br></div>
        <div>
            <div id="termination"><strong>12. TERMINATION</strong></div>
        </div>
        <div><br></div>
        <div>
            <div>The licence is valid until terminated by DDKC or by You. Your rights under this licence will terminate automatically and without notice from DDKC if You fail to adhere to any term(s) of this licence. Upon Licence termination, You shall stop all use of the Licensed Application, and destroy all copies, full or partial, of the Licensed Application.</div>
        </div>
        <div>
            &nbsp; &nbsp; &nbsp;&nbsp;<div><br></div>
        </div>
        <div>
            <div id="thirdparty"><strong>13. THIRD-PARTY TERMS OF AGREEMENTS AND BENEFICIARY</strong></div>
        </div>
        <div><br></div>
        <div>
            <div>DDKC represents and warrants that DDKC will comply with applicable third-party terms of agreement when using Licensed Application.</div>
        </div>
        <div><br></div>
        <div>
            <div>In Accordance with Section 9 of the &apos;Instructions for Minimum Terms of Developer&apos;s End-User Licence Agreement&apos;, both Apple and Google and their subsidiaries shall be third-party beneficiaries of this End User Licence Agreement and &mdash; upon Your acceptance of the terms and conditions of this Licence Agreement, both Apple and Google will have the right (and will be deemed to have accepted the right) to enforce this End User Licence Agreement against You as a third-party beneficiary thereof.</div>
        </div>
        <div><br></div>
        <div>
            <div><br></div>
            <div id="ipr"><strong>14. INTELLECTUAL PROPERTY RIGHTS</strong></div>
        </div>
        <div><br></div>
        <div>
            <div>DDKC and the End-User acknowledge that, in the event of any third-party claim that the Licensed Application or the End-User&apos;s possession and use of that Licensed Application infringes on the third party&apos;s intellectual property rights, DDKC, and not the Services, will be solely responsible for the investigation, defence, settlement, and discharge or any such intellectual property infringement claims.</div>
        </div>
        <div><br></div>
        <div>
            <div><br></div>
            <div id="law"><strong>15. APPLICABLE LAW</strong></div>
        </div>
        <div><br></div>
        <div>
            <div>This Licence Agreement is governed by the laws of Ireland excluding its conflicts of law rules.</div>
        </div>
        <div><br></div>
        <div>
            <div><br></div>
            <div id="misc"><strong>16. MISCELLANEOUS</strong></div>
            <div><br></div>
            <div>
                <div>16.1&nbsp;&nbsp;If any of the terms of this agreement should be or become invalid, the validity of the remaining provisions shall not be affected. Invalid terms will be replaced by valid ones formulated in a way that will achieve the primary purpose.</div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<div>16.2 &nbsp;Collateral agreements, changes and amendments are only valid if laid down in writing. The preceding clause can only be waived in writing.</div>
            </div>
        </div>
        </div>
       
        </section>
