@model ApplicationUser
@{
    ViewData["Title"] = "Home";
}

<section class="text-center">
    <div class="container ps-5 pe-5">
        <p class="text-muted">Welcome to BankApp, 
            @Model.FirstName 
            @Model.LastName.
        </p>
        <h3>Current Balance</h3>
        <h2>€@Model.Balance</h2>
    </div>
</section>
<section class="text-center">
    <div class="container ps-4 pe-4">
        @if(Model.Transactions.Count > 0){
            <table class="table" aria-label="Recent Transactions">
                @foreach (var transaction in Model.Transactions){
                    <tr>
                        <th>
                            @transaction.Date.ToString("MMM dd")
                        </th>
                        <td>
                            @transaction.Message
                        </td>
                        <td>
                            €@transaction.Amount
                        </td>
                    </tr>
                }
            </table>
        } else {
            <p class="text-muted">You do not have any transactions under this account.</p>
        }
    </div>
</section>