@{
	ViewData["Title"] = "Sign In";
	ViewData["NavLink"] = "Register";
	ViewData["NavText"] = "Register";
    Layout = "/Views/Shared/_MinLayout.cshtml";
}

@model LoginViewModel

<section class="text-center">
    <div class="container ps-5 pe-5">
        <p class="text-muted">Enter your User ID and the remaining 3 PIN digits.</p>
    </div>
</section>
<section class="text-center">
    <div class="container ps-4 pe-4">
        <form method="post">
            <div class="mb-3">
                <label asp-for="UserID" class="form-label text-center">User ID</label>
                <input asp-for="UserID" class="form-control" type="number">
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="mb-3">
                @*Individual PIN inputs removed for now as ASP Identity isn't being used yet and I'm unsure of implementation.*@
                <label asp-for="PIN" class="form-label text-center">PIN</label>
                <input asp-for="PIN" class="form-control visually-hidden" type="password" maxlength="6"/>
                <div class="d-flex justify-content-center">
                    <!-- Hidden labels for accessibility -->
                    <label class="visually-hidden" for="pin1">Pin Digit 1</label>
                    <input class="form-control pin-digit" type="password" maxlength="1" id="pin1">
                    <label class="visually-hidden" for="pin2">Pin Digit 2</label>
                    <input class="form-control pin-digit" type="password" maxlength="1" id="pin2">
                    <label class="visually-hidden" for="pin3">Pin Digit 3</label>
                    <input class="form-control pin-digit" type="password" maxlength="1" id="pin3">
                    <label class="visually-hidden" for="pin4">Pin Digit 4</label>
                    <input class="form-control pin-digit" type="password" maxlength="1" id="pin4">
                    <label class="visually-hidden" for="pin5">Pin Digit 5</label>
                    <input class="form-control pin-digit" type="password" maxlength="1" id="pin5">
                    <label class="visually-hidden" for="pin6">Pin Digit 6</label>
                    <input class="form-control pin-digit" type="password" maxlength="1" id="pin6">
                </div>
                <span asp-validation-for="PIN" class="text-danger"></span>
                <script>
                    $(".pin-digit").keyup(function () {
                        var pin = "";
                        $(".pin-digit").each(function () {
                            pin += $(this).val();
                        })
                        if (this.value.length == this.maxLength) {
                            $(this).next().focus();
                        }
                        $("#PIN").val(pin);
                    });
                </script>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary w-50" type="submit">Sign In</button>
            </div>
        </form>
    </div>
</section>

@*Login failure prompt via Bootstrap Modals*@
@if (TempData["prompt-title"] != null)
{
    <div class="modal" id="login-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@TempData["prompt-title"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    @Html.Raw(TempData["prompt-body"])
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#login-modal").modal('show');
        });
    </script>
}